/build/
/dist/
/.build/
__pycache__/
/target/
/playground/data/
/playground/upload/
/playground/output/
/playground/secrets/
/playground/backend_api/
/playground/backend_ocr/
*.sqlite
*.sqlite-shm
*.sqlite-wal
.DS_Store

/.build/
/.swiftpm/
*.xcuserstate
xcuserdata/
__pycache__/

**/.venv/
